# Byte-compiled / optimized / DLL files
__pycache__/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

catboost_info/

.DS_Store

# secret recipe datas
data/stock/*
experiments/

data/split_dates_5dd.json
data/split_dates_10dd.json
data/selected_ticker_and_industry_list.csv