# Byte-compiled / optimized / DLL files
__pycache__/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

catboost_info/

.DS_Store

# secret recipe datas
database/developedModels
database/modelDevelopmentsLog
database/forecastedStocks
database/modelPerformances

data/stock/*

experiments/