services:
  pipeline-service:
    build: .
    image: dotnet-8-python-310
    volumes:
      - .:/app
  initialize-jupyter-lab:
    build: .
    image: dotnet-8-python-310
    ports:
      - "8888:8888"
    volumes:
      - .:/app
    tty: true
    command: jupyter lab --ip=0.0.0.0 --no-browser --LabApp.token=''